.vcenter{
	display: inline-block;
	vertical-align: middle;
	float: none !important;
}
.href{
	text-transform: uppercase;
	color: #609de8;
	border: 2px solid;
	border-radius: 3px;
	padding: 15px 40px;
	margin-top: 20px;
}
.services-items .href{
	display: inline-block;
}
.item-views.services-items.type_5 .items .item>.wrap.custom{display: table; padding: 20px 10px; height: 100%;}
.item-views.services-items.type_5 .items .item>.wrap.custom .body-info{display: table-row}
.item-views.services-items.type_5 .items .item>.wrap.custom .body-info > div{padding-right: 10px;}
.item-views.services-items.type_5 .items .item>.wrap.custom .body-info > div, .item-views.services-items.type_5 .items .item>.wrap .body-info > a{
	display: table-cell;
	vertical-align: middle;
}