.vcenter{
	display: inline-block;
	vertical-align: middle;
	float: none !important;
}
.href{
	text-transform: uppercase;
	color: #609de8;
	border: 1px solid;
	border-radius: 3px;
	padding: 15px 40px;
	margin-top: 20px;
}
.services-items .href{
	display: inline-block;
}
