.filter.radio label{white-space: normal}
.slide label.error{position: absolute}
.toogle section.toggle:last-child{margin-bottom: 30px !important;}
.toogle section.toggle.active{margin-bottom: 10px !important;}
.form .form-group input[type="checkbox"] + label{padding-left: 29px; margin-left: 0 !important;}
.slick-order .slick-slide[tabindex="-1"]{height: 1px}
section.toggle.error > label,section.toggle.active.error > label{border-color: #e02222;    background: #f4e8d7;}
.dl-horizontal dt{white-space: normal !important;}
.form .form-group{
    margin-bottom: 20px;
}
.product-item{
    display: flex;
    margin-bottom: 37px;
}
.product-item .image{
    margin-right: 10px;
}
.product-item .title{
    margin-right: 10px;
}
.product-item .meta{
    font-size: 80%;
}
.product-item .prices{
    margin-left: auto;
    font-size: 1.0667em;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
}
.product-item .prices .price_old{
    font-size: 0.8667em;
    color: #999;
    font-weight: normal;
    text-decoration: line-through;
}
.summ{font-size: 20px; line-height: 48px}
.summ .old_summ{
    text-decoration: line-through;
    margin-left: 10px;
}

.filter label > span{display: inline !important;}