.styled-block{margin:4px 0 -25px !important;background:#eef2f4 !important;padding: 29px 0 53px !important;border:none !important;}
*[id^=comp] > .row{margin-left:0;margin-right:0;}
.hidden_bifore{display: none !important;}
.hidden_bifore.showed{display: block !important;}
