li.item.clearfix.collapsed-prod{
     display: none !important;
 }
li.item.clearfix.collapsed-prod.visible{
    display: inline-block !important;
}
.more_items_custom{
    display: block !important;
    text-align: right !important;
    width: 100% !important;
}