body{margin:0;overflow:hidden;color:#333;}/*old color #777*/
.table.gray th{
    background-color: #a5abb5;
    color: #fff;
}
.font-weight-bold{
    font-weight: bold;
}
.nomargin{
    margin: 0 !important;
}
.mb0{ margin-bottom:0 }
.mb5{ margin-bottom:5px }
.mb10{ margin-bottom:10px }
.mb20{ margin-bottom:20px }
.mb30{ margin-bottom:30px }
.mb40{ margin-bottom:40px }
.mb50{ margin-bottom:50px }
.mb15{ margin-bottom:15px }
.mb25{ margin-bottom:25px }
.mb35{ margin-bottom:35px }
.mb45{ margin-bottom:45px }
.mb55{ margin-bottom:55px }
.mb60{ margin-bottom:60px }
.mb65{ margin-bottom:65px }
/************margin-top*************/
.mt0{ margin-top:0px }
.mt5{ margin-top:5px }
.mt10{ margin-top:10px }
.mt20{ margin-top:20px }
.mt30{ margin-top:30px }
.mt40{ margin-top:40px }
.mt50{ margin-top:50px }
.mt15{ margin-top:15px }
.mt25{ margin-top:25px }
.mt35{ margin-top:35px }
.mt45{ margin-top:45px }
.mt55{ margin-top:55px }
/************margin-right*************/
.mr5{ margin-right:5px }
.mr10{ margin-right:10px }
.mr20{ margin-right:20px }
.mr30{ margin-right:30px }
.mr40{ margin-right:40px }
.mr50{ margin-right:50px }
.mr15{ margin-right:15px }
.mr25{ margin-right:25px }
.mr35{ margin-right:35px }
.mr45{ margin-right:45px }
.mr55{ margin-right:55px }
.mr70{ margin-right:55px }
/************margin-left*************/
.ml5{ margin-left:5px }
.ml10{ margin-left:10px }
.ml20{ margin-left:20px }
.ml30{ margin-left:30px }
.ml40{ margin-left:40px }
.ml50{ margin-left:50px }
.ml15{ margin-left:15px }
.ml25{ margin-left:25px }
.ml35{ margin-left:35px }
.ml45{ margin-left:45px }
.ml55{ margin-left:55px }
/************padding-bottom*************/
.pb5{ padding-bottom:5px }
.pb10{ padding-bottom:10px }
.pb20{ padding-bottom:20px }
.pb30{ padding-bottom:30px }
.pb40{ padding-bottom:40px }
.pb50{ padding-bottom:50px }
.pb15{ padding-bottom:15px }
.pb25{ padding-bottom:25px }
.pb35{ padding-bottom:35px }
.pb45{ padding-bottom:45px }
.pb55{ padding-bottom:55px }
/************padding-top*************/
.pt0{ padding-top:0 }
.pt5{ padding-top:5px }
.pt10{ padding-top:10px }
.pt20{ padding-top:20px }
.pt30{ padding-top:30px }
.pt40{ padding-top:40px }
.pt50{ padding-top:50px }
.pt15{ padding-top:15px }
.pt25{ padding-top:25px }
.pt35{ padding-top:35px }
.pt45{ padding-top:45px }
.pt55{ padding-top:55px }
.p605{ padding-top:60px }
.pt65{ padding-top:65px }
.pt65{ padding-top:65px }
.pt70{ padding-top:70px }
/************padding-right*************/
.pr5{ padding-right:5px }
.pr10{ padding-right:10px }
.pr20{ padding-right:20px }
.pr30{ padding-right:30px }
.pr40{ padding-right:40px }
.pr50{ padding-right:50px }
.pr15{ padding-right:15px }
.pr25{ padding-right:25px }
.pr35{ padding-right:35px }
.pr45{ padding-right:45px }
.pr55{ padding-right:55px }
/************padding-left*************/
.pl5{ padding-left:5px }
.pl10{ padding-left:10px }
.pl20{ padding-left:20px }
.pl30{ padding-left:30px }
.pl40{ padding-left:40px }
.pl50{ padding-left:50px }
.pl15{ padding-left:15px }
.pl25{ padding-left:25px }
.pl35{ padding-left:35px }
.pl45{ padding-left:45px }
.pl55{ padding-left:55px }

.detail_price .software .prices {
    margin-top: 0;
    width: 100%;
}
.detail_price .software .prices .price{
    font-size: 30px;
    float: left;
    line-height: 30px;
    margin-right: 20px;
}
.detail_price .software .price .price-value {
    line-height: 30px;
}
.detail_price .price_old{
    color: #999999;
    text-decoration: line-through;
    display: inline-block;
    font-weight: normal;
    float: left;
    font-size: 18px;
    line-height: 30px;
    margin-top: 8px;
}

.detail_price select{
    font-size: 14px;
    background-color: #f8f9fb;
    border: 1px solid #ededed;
    padding: 0 5px;
    line-height: 22px;
    border-radius: 3px;
    max-width: 100%;
}

.detail_price .buy_block .counter {
    width: 50%;
    padding: 5px;
    background: none;
}
.detail_price .buy_block .buttons {
    padding: 5px;
    width: 50%;
}
.detail_price .buy_block .counter input{
    height: 48px;
}
.detail_price .buy_block .counter .ctrl{
    width: 48px;
}
.detail_price .buy_block .btn{
    padding: 16px 27px;
    width: 100%;
}
.detail_price .buy_block{
    width: 360px;
}

.detail_price{
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.table-list.catalog.item-views.list .item{
    padding: 10px;
}
.table-list.catalog.item-views.list .item .image-wrapper{
    width: 80px;
    height: 80px;
    line-height: 80px;
}
.table-list.catalog.item-views.list .item .title{margin-top: 20px}
.table-list.catalog.item-views.list .item .foot{margin-top: 23px;}
.table-list{}

.program_item_wrapper img{
    max-width: 45px;
    max-height: 45px;
}
.pp-detail-img img{
    max-height: 100%;
}
.table-responsive-custom{
    max-width: 100%;
    overflow-x: auto;
}

.orders_list  .item{
    padding: 0;
}
.orders_list  .title{
    font-size: 18px;
}
.orders_list dd{
    margin-bottom: 5px;
}

.head-block .item-list{
    float: left;
    padding: 0 30px;
}
.head-block .item-list select.form-control{
    height: 55px;
    border-bottom: none;
    padding: 18px 0 17px;
    background: url(images/svg/Arrow_small.svg) right 15px top 28px no-repeat;
    font-size: 12px;
}
.head-block .item-list select.form-control optgroup {

}

@media (max-width: 980px){
    .item-views.services-items.type_5.type_3_within .items .item, .item-views.services-items.type_5 .items .item{
        min-width: 300px;
    }
    .request__number{
        display: none !important;
    }
    .request__text{
        position: static !important;
        text-align: center !important;
        margin: 0 auto;
    }
    .request__text h3 br:first-child{
        display: none;
    }
    .request__wrapper{
        background: none !important;
        height: auto !important;
        margin-bottom: 20px !important;
    }
}

.nav > li.subtitle{
    padding: 20px 10px;
    font-weight: 900;
    background-color: #468de4;
    color: #fff;
}

#successJsButton {
    padding: 15px;
    top: 50%;
    margin-top: -20px;
    display: none;
    border-radius: 5px;
    left: 50%;
    position: fixed;
    color: #fff;
    text-align: center;
    width: 300px;
    margin-left: -150px;
    box-shadow: 0px 0px 20px 0px #000000;
}
.successJsButtonError {
    background: #e26363 !important;
}
.successJsButtonSuccess {
    background: #9ae263 !important;
}
.order-data:not(:first-child) {
    border-top: 1px dotted #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

.final_price{
    border-top: 5px solid #333;
    margin-top: 20px;
    padding-top: 20px;
    width: 320px;
    font-size: 16px;
}
.final_price dd{
    font-size: 20px;
}


@media (max-width: 550px) {
    .product_menu_wrapper{
        display: table !important;
    }
    .product_menu_wrapper.fixed_menu{
        display: none !important;
    }
    .product_menu_wrapper ul{
        flex-direction: column;
    }

}

@media (max-width: 550px){
    .item-views.services-items.type_5.type_3_within .items .item,.item-views.services-items.type_5 .items .item{
        width: 100% !important;
    }
}
.bx_filter input[type="checkbox"]:checked + label:after, .filter input[type="checkbox"]:checked + label:after{top:12px;}

.check_order-block{
    padding-left: 30px;
    position: relative;
    margin-bottom: 30px;
}
.check_order-block h2{
    position: relative;
    overflow: visible;
    border-bottom: 1px dotted #ccc;
}
.check_order-block h2 span{
    color: #d7d7d7;
    font-size: 70px;
    position: absolute;

    top: 15px;
    left: -50px;
}
.licensiat{
    margin: 5px 0;
    border-bottom: 1px dotted #ccc;
}
.licensiat:first-child{margin-top: 0}