/*.type-chess .img-responsive{
   width:300px!important;
}*/

.item-views.sections.chess-type .items .item .image
{
    max-height: 100%;
    /*width: 15%;*/
    padding-right: 16px;
}

.chess-type.sections.item-views .item .image
{
    width:auto;
}

.sections.item-views.chess-type .item .info
{
    padding:0px;
}



/*
.sections.item-views.type-chess .item .info{
    padding: 0px;
}*/