/* CSS kod pishite v etom faile, chotobi pri ustanovke obnovlenii ne bilo problem  */
/* --------------------------------------- */
/* Here you can put custom css rules for your site */

body{color: #222;}

.client_height{
	height:249px!important;
}

#mCSB_2_container .bottom-menu .item .title a{
	color:black!important;

}


#footer {
    padding: 30px 0 0px!important;
}


#footer .footer_top{
padding-bottom: 50px!important;
}


#footer .info .address:before{
left: -20px!important;
}

footer .info .address{
	padding: 0 0 0 0!important;
	text-align: center;
}

.bottom-menu_footer .item .title{
	    font-size: 0.867em;
    font-weight: bold;
    line-height: 2.5385em;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    float: left;
    margin-left: 20px;
}


.image-block {
    text-align: center;
}
.c_left{
	 text-align: left!important;
}
.c_right{
	text-align: right!important;
}

.software .buttons-block .button {
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px;
}

.software .prices {
    margin-top: 27px;
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: top;
    font-size: 1.1333em;
    font-weight: 700;
    line-height: 1.3em;
    color: #333
}

.software .price .price-value {
    display: inline-block;
    vertical-align: top;
    font-size: 1.4333em;
    font-weight: 400;
    line-height: 1.3em;
    color: #333;
}

.software .buttons-block {
    margin-left: 11px;
}

.software-wrapper .pp-announce-img{
    margin-left: 16px;
}

.software-wrapper .wrap-brick-software .pp-announce-img{
    margin-left: 0px;
}

.hide {
    display: none;
}

.product_menu_wrapper {
    height: 70px;
    display: table;
    border-top: 1px solid #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 8px -11px #CCC, 0px 0px 3px -6px #CCC;
}

.product_menu_wrapper img{
    margin-right: 10px;
}

.product_menu_wrapper ul {
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;

}

.product_menu_wrapper li {
    float: left;
    margin-top: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.product_menu_wrapper li:before {
    content: unset;
}

.product_menu_wrapper ul li {
    cursor: pointer;
    color: #aaa;
    height: 70px;
    flex-grow: 1;
    flex-shrink: 0;
}

.product_menu_wrapper ul li.active {
    color: #000;
}


.request {
    margin: 40px auto 0;
}

.request__wrapper {
    background-size: cover !important;
    max-width: 812px;
    width: 100%;
    height: 225px;
    margin: 0 auto;
    position: relative;

}

#wrapper1 {
    background: url(../images/1.svg) 100% 100% no-repeat;
}

#wrapper2 .request__text {
    left: 88px;
    top: 59px
}

#wrapper2 {
    background: url(../images/2.svg) 100% 100% no-repeat;
}

#wrapper2 .request__text {
    left: 88px;
}

#wrapper3 {
    background: url(../images/1.svg) 100% 100% no-repeat;
}

#wrapper4 {
    background: url(../images/2.svg) 100% 100% no-repeat;
}

#wrapper4 .request__text {
    left: 88px;
}

#wrapper5 {
    background: url(../images/1.svg) 100% 100% no-repeat;
}

.request__circles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.request__circles h2 {
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 65px;
    margin-top: 21px;
}

.request__text {
    position: absolute;
    top: 34px;
    left: 288px;
    max-width: 409px;
    color: #333333;
    font-family: sans-serif;
    line-height: 30px;
    text-align: left;

}

.request__text h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.request__text p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;

}

.request__number {
    position: absolute;
    top: 90px;
    left: 88px;
    color: #ffffff;
    font-size: 120px;
    font-weight: 400;
    line-height: 30px;
}

.request__number-right {
    top: 90px;
    right: 79px;
    position: absolute;
    color: #ffffff;
    font-size: 120px;
    font-weight: 400;
    line-height: 30px;
}

.organisation__left-wrappper h2 {
    color: #333333;
    font-family: "Montserrat - Semi Bold";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 55px 0 37px;
}

.organisation__left-wrappper p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width: 895px;
    width: 100%;
}

.organisation__left-wrappper span {
    color: #d32727;
}

.organisation__icons-wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.organisation__icon-item {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.organisation__icon-item img {
    margin-right: 30px;
}

.organisation__icon-item p {
    color: #333333;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.organisation__left-wrappper .grey {
    color: #777777;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 48px;
}

.oportunities {
    text-align: center;
}

.oportunities .item {
    text-align: left;
}

.oportunities .side_forms {
    margin: 0px;
}

.product_menu_wrapper {
    display: flex;
}

.product_menu_wrapper ul {
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.product_menu_wrapper li a {
    color: #aaa;
    line-height: 1.2;
}

.product_menu_wrapper li.active{
    border-bottom: 2px solid #468de4;
}

.product_menu_wrapper li.active a {
    color: #000;

}

.fixed_menu.fixed {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    top: 62px;
}

.center {
    text-align: center;
}

.margin_top_50 {
    margin-top: 50px;
}

.btn.software {
    margin-bottom: 10px;
}

.programs .items {
    margin-bottom: 30px;
}

.ask_a_question .fa-ul{
    margin-left: 28px;
}

.useful_links {
    display: block;
    /* position: absolute; */
    top: 0;
    float: none;
    max-width: 286px;
    width: auto;
    margin-bottom: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #eff1f5;
    padding: 30px;
    text-align: center;
}

.useful_links a {
    display: block;
}

.promoblock {
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
}

.promoblock .fa-check {
    display: block;
    color: black;
    font-size: 20px;
}

.promoblock .fa-check:before {
    color: #2b7de0
}

.programs .title {
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 30px;
}

.programs .image {
    padding-top: 95px;
    text-align: center;
}

.upper-margin {
    margin-top: 100px;
}

.link-not-colored {
    color: inherit;
}

.info-block-main-page {
    clear: left;
}

.text-for-element {
    font: 15px/25px "Montserrat", Arial, sans-serif !important;
}

.question-form-on-service {
    width: 75%;
}

.service-image {
    padding-top: 0 !important;
    position: relative;
    text-align: center;
}

.row-item-with-image {
}

.service-image img {
    position: absolute;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.no-right-padding {
    padding-right: 0 !important;
}

.row-opportunities-item {
    padding: 50px 0;
    border-top: 1px solid #e0e0e0;
}

.preview-text-program-product {
    padding-bottom: 25px !important;
}

.wrap-brick-software {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.greylineAS {
    background: #f8f9fb !important;
}

.items-for-list .itemAS {
    display: table-row;
}

.items-for-list .itemAS.pic-left .image {
    float: left !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    display: table-cell;
}

.items-for-list .itemAS.pic-right .image {
    float: right !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    display: table-cell;
}

.items-for-list .itemAS .image {
    height: 100%;

    text-align: center !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    display: table-cell;
}

.items-for-list .itemAS.pic-left .text {
    padding-left: 50px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    display: table-cell;

}

.items-for-list .itemAS.pic-right .text {
    padding-right: 50px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    display: table-cell;
}

.items-for-list .item_block:not(:first-child) .itemAS {
    border-top: 1px solid #e0e0e0 !important;
}

.items-for-list .text h3{
    width: 100%;
}

.oportunities .title-h2{
    width: fit-content;
    margin: 30px 0;
}

.oportunities .opportunity-element{
    margin-bottom: 20px !important;
    text-align: left;
}

.oportunities .image-holder{
    float:left;
    border-radius: 50%;
    border: 2px solid #468de4;
    padding: 2%;
    margin-right: 30px;
}

.oportunities .link-to-detail{
    display: inline-block;
    max-width: 80%;
    overflow-wrap: break-word;
}

.opportunity-main{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.opportunity-main .image-main{
    float: left;
    display: inline-block;
    max-width: 15%;
    margin-right: 5%;
}

.opportunity-main .text-main{
    display: inline-block;
    width: 80%;
}

.opportunity-main .text-main span{
    display: inline-block;
}

.scrollable-block{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

@media (max-width: 800px) {
    .items-for-list .itemAS.pic-left .text {
        padding-left: 0px !important;
    }

    .items-for-list .itemAS.pic-right .text {
        padding-right: 0px !important;
    }

    .items-for-list .itemAS.pic-right .image {
        float: none !important;
        margin-bottom: 10px;
    }

    .items-for-list .itemAS .image {
        width: 100% !important;
    }
}

.opp-announce-img{
    width: 450px;
    height: 300px;
}

.opp-announce-text{
    width: 55%;
}

.opp-detail-img{
    width: 900px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.ask_a_question_custom .inner .text-block:before{
    background-color: #2b7de0;
    content: "";
    position: absolute;
    left: 50%;
    top: 44px;
    margin: 0 0 0 -29px;
    background: url(/bitrix/templates/aspro-priority/images/svg/action_icons.svg) -92px -50px no-repeat;
    background-color: #2b7de0;
    width: 90px;
    height: 90px;
    background-position: 0 0;
    margin-left: -45px;
}

.opp-brick-announce-container{
    min-height: 76px;
    display: flex;
    align-items: center;
}

.opp-brick-announce-img{
    width: 75px;
    height: 75px;
    display: inline-block;
    text-align: center;
}

.opp-brick-announce-img-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.opp-brick-announce-img-link img{
    align-items: center;
    margin: 0 auto;
}

.opp-brick-announce-link{
    padding-left: 10px;
    display: inline-block;
    max-width: 72%;
    overflow-wrap: break-word;
}

.pp-detail-img{
    width: 300px;
    height: 300px;
}

.pp-announce-img{
    float:left;
    width: 75px;
    height: 75px;
    display: inline-block;
    text-align: center;
}

.pp-announce-img-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.pp-announce-img-link img{
    align-items: center;
    margin: 0 auto;
}

.pp-organization-img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}

.pp-organization-img img{
    align-items: center;
    margin: 0 auto;
}

.pp-organization-text{
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.pp-organization-text p{
    align-items: center;
    margin: 0 auto;
}

.art-announce-img{
    float:left;
    width: 250px;
    height: 166px;
    display: inline-block;
    text-align: center;
}

.art-announce-img-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.art-announce-img-link img{
    width: auto !important;
    align-items: center;
    margin: 0 auto;
}

.padding-bottom{
    padding-bottom: 50px;
}

.question-form-max-width{
    width: 100%;
    padding: 0;
}

.hemistyle{
    position:absolute;
    width: 50%;
    margin-right: 50%;
    background-color: #f8f9fb;
    border-top: 1px solid #eff1f5;
}

.max-w-85{
    max-width: 85%;
}
.max-w-72{
    max-width: 72%;
}

.top_line{
    margin-top: -1px;
    border-top: 1px solid #eff1f5;
}

.inner_border{
    padding-right: 10px;
    border-bottom: 0px !important;
}

.outer_border{
    border-bottom: 1px solid #eff1f5;
}


@media (max-width: 1227px){
    .software-wrapper .wrap-brick-software .pp-announce-img{
        margin-left: 0px;
        width:100%;
    }

    .software-wrapper .wrap-brick-software .ancor-link-smooth{
        width:100%;
        max-width: 100%;
        margin-top:10px;
    }
}

.pressblocks{
    margin-bottom:1px
}

.pressblocks .item-views{
    border-bottom: none;
}

@media (max-width: 992px){
    .media-promo{
        width: fit-content;
        margin: auto;
    }

    .media-links{
        margin: 48px auto 48px auto !important;
    }
    .hemistyle{
        background-color:  transparent;
    }
}

@media (max-width: 800px) {
    .opp-announce-img{
        width: 100%;
        height: auto;
    }
    .opp-announce-text{
        width: 100%;
        text-align: left;
    }
    .organisation__icon-item{
        width: 100%;
    }
    .software .prices{
        margin-bottom: 0;
    }
    .detail .tabs{
        margin: 0;
    }
    .product_menu_wrapper.fixed_menu{
        display: none;
    }
}